:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 1rem;
}

.card {
  background-color: var(--dark-grayish-blue);
  max-width: 540px;
  margin: auto;
  padding: 2.5rem 2rem 4rem;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.advice-id {
  color: var(--neon-green);
  letter-spacing: 3px;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
}

.advice-text {
  color: var(--light-cyan);
  font-size: 1.75rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
}

.divider {
  display: block;
  margin-bottom: 2.5rem;
}

.divider img {
  width: 100%;
}

.dice-btn {
  background-color: var(--neon-green);
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
}

.dice-btn:hover {
  box-shadow: 0 0 35px var(--neon-green);
}

@media (max-width: 600px) {
  .advice-text {
    font-size: 1.4rem;
  }
}
